@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s;
}

:root {
  --heading-font-size: 62px;
  --subheading-font-size: 18px;
  --primary-color: #273245;
}

.container {
  width: 100%;
  height: 100%;
  color: black;
  position: relative;
  padding: 0 20rem;
  overflow: hidden;
}

.hero-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: var(--primary-color);
}
/* nav-wrapper =============================================*/
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  top: 0;
  left: 0;
  text-align: center;
  background-color: white;
  z-index: 5;
  box-shadow: 5px 10px 8px #888888;
}

.nav div.logo {
  width: 180px;
  height: 10px;
  position: absolute;
}

.nav div.logo a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #4bbb4b;
}

.nav div.main_list {
  width: 600px;
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li {
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: var(--primary-color);
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
  color: #c0c0c0;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 0;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: var(--primary-color);
  margin-top: 12px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}

/* hero-wrapper========================= */
.hero-wrapper .hero-image {
  background-image: url("img/image.jpg");
  background-position: bottom;
  background-size: 2100px 1400px;
  width: 100%;
  max-width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  z-index: -10;
}

.hero-wrapper .title-home {
  margin-top: 17rem;
  width: 42rem;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--heading-font-size);
  letter-spacing: 2px;
}

.hero-wrapper .desc-home {
  width: 38rem;
  max-width: 100%;
  font-size: var(--subheading-font-size);
  font-family: "Sedan", serif;
  font-weight: 500;
  margin-top: 18px;
}
.hero-wrapper .btn-home {
  padding: 8px 18px;
  margin-top: 28px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background-color: transparent;
}
.hero-wrapper .btn-home a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--subheading-font-size);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 50px 0;
  flex-direction: column;
  position: relative;
}
/* card-wrapper */
.wrapper .card-heading {
  font-weight: 400;
  text-transform: capitalize;
  font-size: var(--heading-font-size);
  margin-bottom: 40px;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .card {
  margin-bottom: 2em;
  width: 400px;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
}
.products-card {
  margin-bottom: 2em;
  margin-right: 40px;
  width: 350px;
  max-width: 100%;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
}

.products-card:hover,
.card:hover {
  background-color: #ceeede;
}
.products-card img {
  width: 24rem;
  height: 22rem;
}
.card-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.wrapper .card img {
  width: 25rem;
  height: 20rem;
}

.card-color {
  display: flex;
  justify-content: space-between;
  margin: 10px 16px;
}
.circle-wrapper {
  display: flex;
  gap: 10px;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.circle:nth-child(1) {
  background-color: #9b2424;
}
.circle:nth-child(2) {
  background-color: #249b38;
}
.circle:nth-child(3) {
  background-color: #9b9924;
}
.circle:nth-child(4) {
  background-color: #244e9b;
}

.card-title,
.card-price {
  text-align: left;
  padding-left: 16px;
  text-transform: capitalize;
  font-size: var(--subheading-font-size);
}

/* carousel ================================================== */
.slide-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  text-align: left;
  width: 400px;
  max-width: 100%;
}
.left-content h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 10px 16px;
}
.title,
.price {
  margin: 10px 16px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: var(--subheading-font-size);
}

.left-content button {
  padding: 5px 20px;
  margin: 10px 16px;
  border-radius: 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.right-content img {
  width: 600px;
  max-width: 100%;
}

.circle-slides {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.links {
  display: flex;
  width: 100%;
  padding: 5px 20px;
  color: #ceeede;
  justify-content: end;
}
.btn-more {
  width: 10rem;
  text-align: center;
  margin-bottom: 30px;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 18px;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}
/* ================================================ */

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
}
.blog .blog-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 380px;
  height: 400px;
  margin-bottom: 50px;
}

.blog-cards img {
  width: 100%;
  height: 100%;
}
/* footer============================ */

.footer {
  display: flex;
  width: 100%;
  height: 30vh;
  gap: 20px;
}

.links-page {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.links-page .logo {
  font-size: 26px;
  font-weight: 600;
}
.links-page h1 {
  font-size: 18px;
  font-weight: 400;
}
.address p {
  font-weight: 300;
  margin-bottom: 10px;
}

.links-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.links-page .logo {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
}

.links-page ul {
  list-style-type: none;
}

.links-page ul li {
  margin-bottom: 6px;
  font-size: 16px;
  text-transform: capitalize;
}

.contact {
  width: 28rem;
  text-align: left;
}
.contact .logo {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
}
.btn-subs {
  padding: 5px 20px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.background {
  position: absolute;
  width: 100vw;
  height: 65vh;
  z-index: -10;
}
.background-green {
  position: absolute;
  width: 100vw;
  height: 65vh;
  z-index: -10;
  background-color: #d1eca5;
}
.background-footer {
  position: absolute;
  width: 100vw;
  height: 45vh;
  z-index: -10;
  background-color: #dee0e0;
}

.background:nth-child(1) {
  background-color: #ceeede;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .container {
    margin: 0;
    padding: 0;
  }
  .hero-wrapper .title-home {
    margin-top: 7rem;
    font-size: 40px;
  }
  .footer {
    max-width: 100%;
    margin-left: 10em;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
  }
  .nav div.logo {
    margin-left: 0px;
  }

  .nav div.main_list {
    width: 100%;
    margin-top: 65px;
    height: 500px;
    overflow: hidden;
  }

  .nav div.show_list {
    position: fixed;
    z-index: 100;
  }

  .nav div.main_list ul {
    flex-direction: column;
    color: #273245;
    width: 100%;
    top: 90px;
    left: 0;
  }

  .nav div.main_list ul li {
    width: 100%;
    height: 100%;
    background-color: #edf1ef;
  }

  .nav div.main_list ul li a {
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 500px;
    display: table;
    color: #141414;
  }

  .nav div.media_button {
    display: block;
  }

  .hero-wrapper .title-home {
    margin-top: 10rem;
    font-size: 40px;
  }
  .hero-wrapper .desc-home {
    font-size: 16px;
  }
  .hero-wrapper .btn-home a {
    font-size: 16px;
  }

  .wrapper .card-heading {
    font-size: 40px;
  }

  .card-wrapper {
    flex-direction: column;
    max-width: 100%;
  }
  .wrapper .card {
    margin: 10px 0;
    width: 320px;
    height: 400px;
  }
  .wrapper .card img {
    width: 22rem;
    height: 15rem;
  }
  .slide-wrapper {
    flex-direction: column-reverse;
    height: 75vh;
    justify-content: center;
  }
  .left-content h3 {
    font-size: 28px;
  }
  .title,
  .price {
    font-size: 16px;
  }
  .left-content button {
    font-size: 16px;
  }
  .right-content img {
    width: 300px;
  }

  .background-green {
    height: 80vh;
  }
  .background-footer {
    height: 55rem;
  }
  .products-card {
    flex-direction: column;
    margin-right: 0;
  }
  .slide-wrapper .left-content .title {
    text-align: left;
  }

  .footer {
    flex-direction: column;
    height: 100%;
    padding: 0 16px;
  }
}
